@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-primary: #00f0ff;
  --color-secondary: #bf00ff;
  --color-surface: #1a1a1a;
}

:root {
  color-scheme: dark;
}

body {
  background-color: var(--color-background);
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}